<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808063732899-fukh7amf2pcad5ri4pm2f525cq2567rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808063732899-fukh7amf2pcad5ri4pm2f525cq2567rq</string>
	<key>API_KEY</key>
	<string>AIzaSyBRoF74p_HQLNOPYD9icOUfJJZGuMIxesk</string>
	<key>GCM_SENDER_ID</key>
	<string>808063732899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pokemon-react-native</string>
	<key>PROJECT_ID</key>
	<string>pokemon-340d8</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-340d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808063732899:ios:5126bff37a0b9178f50316</string>
</dict>
</plist>